*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(145deg,blue, white) ;
}
.a{
    height: 400px;
    width: 350px;
    border: 3px solid rgb(16, 15, 15);
    margin: 50px auto;
    border-radius: 50px;
    background: linear-gradient(145deg ,blue, white);
    text-align: center;
    /* background: linear-gradient(145 ,white , blue); */
}
.a input{
    height: 45px;
    width: 150px;
    border-radius: 15px;
    font-size: 18px;
    margin: 10px;
    
    border: none;
    outline: none;

}

.a button{
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 15px;
    background-color: rgb(157, 175, 240);
}
.a button:hover{
    background: #32e1d3;
    color:rgb(6, 7, 7)
}
.a h1{
    margin: 20px;
    color: rgba(230, 233, 235, 0.824);
}
.a h3{
    margin: 30px;
}
.a h4{
    margin: 30px;
}